:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

body {
    background: #ff8800;
    background: linear-gradient(to right, rgb(221, 69, 42), rgb(255, 133, 51));
}


/* Cabecera */

.contDatos {
    display: flex;
    align-items: center;
    img {
        height: 60px;
        width: 60px;
        border-radius: 50px;
        object-fit: cover;
    }
}

.iconSettings,
.icon {
    color: white;
    margin: 7px;
    cursor: pointer;
    font-size: 20px;
}

.iNoti {
    &:hover {
        color: rgb(226, 226, 30);
        transition: 0.5s;
    }
}

.iConf {
    &:hover {
        color: grey;
        transition: 0.5s;
    }
}

#buttonLogOut {
    &:hover {
        color: rgb(233, 35, 35);
        transition: 0.5s;
    }
}


/* Final Cabecera */

.card-signin {
    border: 0;
    border-radius: 1rem;
    .card-title {
        margin-bottom: 2rem;
        font-weight: 300;
        font-size: 1.5rem;
    }
    .card-body {
        padding: 2rem;
    }
}

.form-signin {
    width: 100%;
    .btn {
        font-size: 80%;
        border-radius: 5rem;
        letter-spacing: .1rem;
        font-weight: bold;
        padding: 1rem;
        transition: all 0.2s;
    }
}

.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
    input {
        height: auto;
        border-radius: 2rem;
    }
    >label {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        margin-bottom: 0;
        /* Override default `<label>` margin */
        line-height: 1.5;
        color: #495057;
        border: 1px solid transparent;
        border-radius: .25rem;
        transition: all .1s ease-in-out;
    }
}

#errores {
    .error {
        color: #D8000C;
        background-color: rgb(223, 93, 93);
        p {
            padding: 3px;
        }
    }
}

.inputSettings {
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid;
    padding: 1em 0 .8em;
    font-size: 18px;
    font-family: inherit;
    font-weight: 300;
    line-height: 1.5;
    color: inherit;
    outline: none;
}


/* Código para que queden bien los estilos del input file */


/* 

#formSettingsImg {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label[for="formSettingsImg"] {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: #106BA0;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: 15px 40px !important;
    text-transform: uppercase;
    width: fit-content;
    text-align: center;
} */